/* ==========================================================================
Reset adapted from Twitter Bootstrap
https://github.com/twitter/bootstrap/
========================================================================== */
html, body {
  margin: 0;
  padding: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block; }

audio,
canvas,
video {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted #333333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

a:hover,
a:active {
  outline: 0; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic; }

button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle; }

button,
input {
  *overflow: visible;
  line-height: normal; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

/* ==========================================================================
Typography adapted from Twitter Bootstrap
https://github.com/twitter/bootstrap/
========================================================================== */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

p {
  font-weight: 300;
  margin: 0 0 24px 0;
  font-size: 24px;
  line-height: 24px; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: bold;
  color: black;
  text-rendering: optimizelegibility; }

h1 {
  font-size: 36px;
  line-height: 36px; }

h2 {
  font-size: 24px;
  line-height: 36px; }

h3 {
  margin: 24px 0 8px 0;
  line-height: 20px;
  font-size: 18px; }

h4, h5, h6 {
  line-height: 18px; }

h4 {
  font-size: 14px; }

h5 {
  font-size: 12px; }

h6 {
  font-size: 11px;
  color: #1a1a1a;
  text-transform: uppercase; }

ul, ol {
  font-size: 14px;
  font-weight: 300;
  padding: 0;
  margin: 0 0 9px 0; }

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li {
  line-height: 18px;
  margin-bottom: 8px; }

dl {
  margin-bottom: 18px; }

dt,
dd {
  line-height: 18px; }

dt {
  font-weight: bold; }

dd {
  margin-left: 9px; }

hr {
  margin: 18px 0;
  border: 0;
  border-top: 1px solid #555555;
  border-bottom: 1px solid white; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

abbr {
  font-size: 90%;
  text-transform: uppercase; }

blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 18px;
  border-left: 5px solid #eeeeee; }

blockquote p {
  margin-bottom: 0; }

blockquote small {
  display: block;
  line-height: 18px;
  color: #999999; }

blockquote small:before {
  content: '\2014 \00A0'; }

code,
pre {
  color: #9d261d;
  padding: 0 3px 2px;
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 12px;
  color: #9d261d;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }

code {
  display: inline-block;
  padding: 3px 4px;
  background-color: #f5f5f5;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.15);
  margin-top: 4px; }

pre {
  display: block;
  padding: 8.5px;
  margin: 0 0 9px;
  font-size: 12px;
  line-height: 18px;
  background-color: #f5f5f5;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word; }

pre.prettyprint {
  margin-bottom: 18px; }

pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: 0; }

.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll; }

/* ==========================================================================
Demo Styles
========================================================================== */
html, body {
  height: 100%;
  padding: 0;
}

.center {
  width: 800px;
  margin: 0 auto;
  padding: 36px 0 60px 0;
}

h1 {
  margin-bottom: 12px;
}

ul.test-buttons {
  zoom: 1;
  font-size: 14px;
  list-style-type: none;
  margin: 0;
}
ul.test-buttons:before,
ul.test-buttons:after {
  content: "";
  display: table;
}
ul.test-buttons:after {
  clear: both;
}
ul.test-buttons li {
  float: left;
  margin-right: 20px;
}
ul.test-buttons a {
  background-color: #333;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  color: #fff;
  padding: 3px 6px;
  text-decoration: none;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -ms-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -ms-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
}
ul.test-buttons a:hover {
  background-color: #000;
  color: #fff;
}

p a, ol a, ul a {
  color: #0064cd;
  font-weight: bold;
  text-decoration: none;
}

p a:hover, ol a:hover, ul a:hover {
  color: #0058b3;
}

footer {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #333333;
  margin-top: 40px;
  padding: 18px 0;
  text-align: center;
}
footer div.center {
  padding: 0;
}
footer p {
  font-size: 12px;
  margin-bottom: 8px;
}
footer a {
  color: #0064cd;
  font-weight: bold;
  text-decoration: none;
}
footer a:hover {
  color: #0058b3;
}

/* ==========================================================================
Helper Classes
========================================================================== */
div#grid {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 999;
}

div#grid::before { /* use http://gridulator.com/ to find your grid sizes */
  content: ""; display: block; height: 100%; margin: 0 auto; position: relative;
  width: 800px; /* this should equal the width of your page */
  background-image: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0.25) 62px,
    transparent 62px); /* column starts at 0 and goes to determined column width */
  background-size: 82px; /* this should equal 1 column + 1 gutter */
}

.clearfix:before, .clearfix:after { content:""; display:table; }
.clearfix:after { clear:both; }
.clearfix { *zoom:1; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden; }
